// bower:scss
// endbower
@import 'base/variables';
@import 'helpers/functions';
@import 'helpers/mixins';
@import 'helpers/helpers';

@import 'base/reset';
@import 'base/base';
@import 'base/typography';


// reusable components
@import 'components/blocks';
@import 'components/icons';
@import 'components/nav';
@import 'components/path';
@import 'components/section-grid';
@import 'components/social';

// page sections
@import 'sections/computation';
@import 'sections/finale';
@import 'sections/globe';
@import 'sections/intro';
@import 'sections/new-approach';
@import 'sections/new-computation';
@import 'sections/new-vision';
@import 'sections/resources';
@import 'sections/footer';



// we need to move these to a IE specific partial
.footer, .header, .section, .menu, .nav, .article {display: block;}


.ie8 {
  .resources-copy p strong {width: 137px;}
  .db strong {width: 300px;}
  .timer {left: 208px;}
  #timer-text {display: none;}
  .globe-desk-svg {width: 255px; height: 248px;}
  .globe-mask {
    z-index: 60;
    content: "";
    display: block;
    position: absolute;
    width: 870px; height: 870px;
    zoom: 1;
    color: $white;
    background: url(/images/circle-mask.png) transparent no-repeat center;
       filter: progid:DXImageTransform.Microsoft.gradient(
          startColorstr=#00FFFFFF, endColorstr=#00FFFFFF
      );
  }
	.server-row img {width: 805px;}
  .microchip-bg-lg {
    width: 275px;
    z-index: 2;
  }
  .microchip-bg-sm {width: 215px; height: 210px;}
  .sever-solo {top: 250px}
  .monitor-img {
    position: relative;
    margin: 40px 0px 0px -70px !important;
    width: 700px !important;
    left: -225px !important;
    bottom: 0 !important;
  }
  .circle-md {
    left: 0px;
    top: 175px;
  }
  .bg-path-container {
    position: absolute; 
    z-index:2; 
    margin: auto; 
    left: 0; right:0; 
    top: 560px; 
    width: 411px;
  }
  .bg-path {
    position: relative;
    left: -43px;
    height: 5150px;
    z-index: 1;
  }
  .diagram-result {
    // hack to fix an issue where
    // the div was displaying on to of the header
    position: absolute !important;
  }

  .finale {z-index: z(base-10);}

}



.ie9 {
  .every-day-society { margin-top: 20px; }
  .globe-surface { margin-left: -235px; }
  .server-row {bottom: -35px !important;}
   .diagram-result {
    position: absolute !important;
   }
}