.computation	{height: 762px; border: 1px solid red;}

.computation-left {
  @include rel(265px 0 0 0);
  width: 470px;
  margin-left: 155px;
  overflow: hidden;
  p {width: 265px;}
}

.computation-left-copy {
  position: relative;
  width: 360px;
}

.computation-right {
	@include rel(-35px 0 0 485px);
	width: 300px;
  overflow: hidden;

}

.computation-right-copy {
  position: relative;
  width: 270px;
}
.microchip-loading {
  @include abs(0 -130px 168px 0);
  width: 265px;
}
.microchip-loading-sm {
  @include abs(220px 185px 0 0);
  width: 190px;
}

.circuit-left {
  @include abs(0 0 -95px -60px);
  width: 530px;
}

.circuit-right {
  @include abs(-290px -130px 0 0);
  width: 572px;
}


.microchip-bg {
  &-lg {
    @include abs(-35px 0 0 270px);
    width: 275px;
    height: 261px;
    margin: auto;
  }

  &-sm {
    @include abs(15px 0 0 -60px);
    width: 235px;
    height: 230px;
  }
  
}