.computation	{height: 460px; }

.computation-left {
	@include abs(20px 0 0 0);
	width: 360px;

   p {width: 265px;}
}

.computation-right {
	@include abs(165px 130px 0 0);
	width: 270px;
}

.microchip-loading {
  @include abs(0 -130px 168px 0);
  width: 265px;
}
.microchip-loading-sm {
  @include abs(220px 185px 0 0);
  width: 190px;
}

.circuit-left {
  @include abs(15px 0 0 -180px);
  width: 530px;
}

.circuit-right {
  @include abs(-290px -130px 0 0);
  width: 572px;
}
