.footer {
  @include clear;
  padding: 50px;
}



.footer-branding, .footer-meta {
  float: left;
  vertical-align: middle;
}
.footer-branding {
  padding-right: 40px;
  
}

.footer-logo {
  margin-bottom: 20px;
  padding: 0;
  width: 135px;
}

footer header {
  padding-top: 15px;
}


.footer-meta {
  padding: 5px 25px;
  border-left: 1px solid white;
  
  p { 
    margin-bottom: 20px;
    line-height: 1; 
  }
  cite { font-size: 11px; }
}

.footer-social {

  margin: 25px 0;
  a, span {
    display: inline-block;
    vertical-align: middle;
  }
  a {
    font-size: 2em;
    line-height: 1;
  }
  span {
    font-size: 11px;
    padding: 0 12px 0 8px;
    margin-top: -8px;
  }
}

.footer-links {
  margin-top: 40px;
  a {color: $white;}
}

