.section-globe {height: 898px;}


.globe	{
	.fact-block {
		line-height: 1.350;
		&.light {
		  background: $c-secondary;
		  color: white;}
	}
	.fact-block.right {
		@include abs(265px 0 0 0);

	}
	.fact-block.left {
		@include abs(435px 0 0 200px)
	}

	&-desk {
		@include abs(0 0 10px 267px);
		z-index: z(base-5);
		&-svg {
			width: 255px;
			height: 248px;
		}
	}

	&-stat {
		@include abs(0 0 100px 0);
		width: 225px;
		margin-top: 50px;
		margin-left: -5px;
		z-index: z(base-5);

		p {
			@include rel(10px 0 0 0);
			@extend %stacked;
			line-height: 1.25;
		}
		.stat strong,
		p > strong {
			display: inline-block;
			color: $white;
		}
		.stat strong {
			@include rel(0 0 0 -10px);
			display: inline;
			font-size: 1.950em;

		}
		.arrow-down {
			display:inline-block;
			position:relative; 
			width: 90px; 
			height: 89px;
		}
	}
}

.globe-stat .stat {
	position: relative;
}

.globe-graphic {
	position: relative;
	display: block;
	margin: auto;

	img {display: block; margin: auto;}
}




.globe-graphic-container {
	@include circle(870px);
	position: relative;
	display: block;
	margin: auto;
	background: $light-blue;
	z-index: z(base);
	img {
		width: 185%;
		margin-top: -210px;
    position:relative;
    z-index:1;
	}
}


.ie8 .globe-mask {
  z-index: 60;
  content: "";
  display: block;
  position: absolute;
  width: 870px; height: 870px;
  zoom: 1;
  background: url(/images/circle-mask.png) transparent no-repeat center;
     filter: progid:DXImageTransform.Microsoft.gradient(
        startColorstr=#00FFFFFF, endColorstr=#00FFFFFF
    );
}

.dots {
	@include abs(0 0px 0 0px);
	width: 850px;
	margin: auto;
}
