.globe	{
	height: 950px; 
	margin-bottom: 250px;

	.fact-block.right {
		@include abs(295px 0 0 0);

	}
	.fact-block.left {
		@include abs(465px 0 0 200px)
	}
	
	&-desk {
		@include abs(0 0 34px 270px);
		z-index: 5;
		&-svg {
			width: 255px;
		}
	}

	&-stat {
	@include abs(0 0 110px 0);
	width: 225px;
}

}

.globe-graphic {
	position: relative;
	display: block;
	width: 870px;
	margin: 3em auto 0;
}

.microchip-bg {
	&-lg {
		@include abs(0 0px -195px -210px);
		width: 275px;
		margin: auto;
	}

	&-sm {
		@include abs(0 0px -205px -70px);
		width: 235px;
		height: 230px;
	}
	
}


