.globe	{
	height: 950px; 
	margin-bottom: 250px;

	.fact-block.right {
		@include abs(295px 0 0 0);

	}
	.fact-block.left {
		@include abs(465px 0 0 200px)
	}
	
	&-desk {
		@include abs(0 0 34px 270px);
		z-index: 5;
		&-svg {
			width: 255px;
			height: 248px;
		}
	}

	&-stat {
		@include abs(0 0 110px 0);
		width: 225px;

	}
}

.globe-stat {
	.stat strong {
		font-size: 1.950em;
	}
}

.globe-graphic {
	position: relative;
	display: block;
	// width: 870px;
	// margin: 3em auto 0;  // for whatever reason, this one wouldn't line up when using an PNG.
	margin: 35px auto 0;

	img {display: block; margin: auto;}
}

.microchip-bg {
	&-lg {
		@include abs(0 0px -195px -210px);
		width: 275px;
		height: 261px;
		margin: auto;
	}

	&-sm {
		@include abs(0 0px -205px -70px);
		width: 235px;
		height: 230px;
	}
	
}


.globe-graphic-container {
	@include circle(870px);
	position: relative;
	display: block;
	top: 35px;
	margin: 35px auto 0; 
	overflow: hidden;
	background: $gray;

	img {
		width: 185%;
		margin-top: -210px;
		// margin-left: -145px;
	}
}

.dots {
	@include abs(0 0px 0 0px);
	width: 850px;
	margin: auto;
}