.intro {
	margin: 115px auto;
	text-align:  center;
	z-index: z(base-5);
	&-copy {
		max-width: 425px;
		margin: 30px auto 85px;
	}
}

.logo {
	width: 150px;
	display: block;
	margin: auto;
}

.sun {
	@include abs(20px 0 0 85px); 
	width: 190px;
}

