.new-computation  {
	height: 755px; 
	z-index: z(base-5);
}

.new-computation-illustration {
	@include pos(220px 0 0 40px);
	position: relative;
	width: 440px;

	.connection 		{@include abs(0 0 0 175px); z-index:1;}
	.microchip 		{@include abs(200px 0 0 0); z-index:1;}
	.server 			{@include abs(250px 0 0 235px); z-index:1;}
}

.new-computation-vision {
	width: 365px;
	text-align: left;	
	top: 0;
	
	h1 {
		width: 445px;
		margin-bottom: 25px;
	}

	strong {
		margin: 15px 0;
		font-size: 14px;

		// fix to em
	}


}

.new-computation-comment {
	width: 370px;
	strong {margin: 0;}
}

.circle-lg  {width: 240px; height: 240px;}
.circle-md {width: 220px; height: 225px;}
.circle-sm {width: 205px; height: 205px;}

// .monitor {
// 	position: relative;
// 	left: 3px;
// 	margin-top: 5px;
// 	z-index: z(base-5);
	

// 	.microchip {
// 		@include abs(230px 0 0 120px);
// 		width: 125px;
// 	}
// }

.monitor img {
	width: 485px;
	position: relative;
	top: -10px;
	left: -72px;
}

.server-solo {
	@include abs(300px -45px 0 0);
	width: 150px;
}