.resources {
	height: 540px;
	z-index: z(base-5);
}
.resources-copy {
	top: 100px;
	max-width: 295px;

	> p > strong { display: inline-block;}

	.font-40 {
		top: -10px;
	}
}





.sun {
	@include abs(20px 0 0 85px); 
	width: 190px;
}

.timer {
	@include abs(200px 0 0 206px);
	z-index: z(base-5);
	&-svg {
		width: 270px;	
	}
}

.sun {
	@include abs(20px 0 0 85px); 
	width: 190px;
}
