html, body {
	background-color: $white !important;
    -webkit-font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
	// this gets overridden by IBM's CSS
}

body {
  background: $white;
  font-family: $helvetica;
  color: #333;
}

section {position: relative;}


.container {
	position: relative;
	width: 1024px;
	margin: auto;
}


