
@include font-face(lubalin-light, '../../fonts/lubalin/lubalingraphstd-book-webfont', 300, normal);
@include font-face(lubalin-heavy, '../../fonts/lubalin/lubalingraphstd-demi-webfont', 600, normal);

body, %copy  {
	font-family: $helvetica;
	font-weight: $light;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6, %header {
	margin: 0;
	font-weight: 300;
	line-height: 1;
}

h1, %huge {
	font-size: em(34px);
  font-family: $lubalin-heavy;
  margin:.5em 0;
}

strong, %bold {
  font-family: $lubalin-heavy;
  font-weight: 300;
  font-size: 1.2em;
  display: block;
}

.stat {
  font-weight: $light;
  font-size:em(60px);
  text-transform: uppercase;
  display:inline-block;
  line-height:1;
  white-space:pre-line;

  strong {
    font-family: inherit;
    font-size:2.5em;
  }
}
