
@include font-face(lubalin-light, '../../fonts/lubalin/lubalingraphstd-book-webfont', 300, normal);
@include font-face(lubalin-heavy, '../../fonts/lubalin/lubalingraphstd-demi-webfont', 600, normal);
@include font-face(helvetica-neue, '../../fonts/helvetica-neue/2C72D1_0_0', normal, normal);
@include font-face(helvetica-neue-light, '../../fonts/helvetica-neue/2C6636_0_0', normal, normal);

body, .copy, %copy  {
	font-family: $helvetica;
	line-height: 1.5;
}

h1,h2,h3,h4,h5,h6, %header {
  margin: 0;
  font-weight: bold;
  line-height: 1;
  text-shadow: none;
}

p {
  font-size: 13px;
  line-height: 1.4;
  -webkit-backface-visibility: hidden;
}
a {cursor: pointer;}
a:hover {text-decoration: none;}

 %huge {
	font-size: 30px;
  line-height: 1.1;
  // margin:.5em 0;
}

%big {
  font-size: em(26px);
  // margin-bottom: 24px;
}


%lubalin {
  font-weight: 300;
  font-family: $lubalin-heavy;
}

%stacked, .stacked {
  line-height:1;
  white-space:pre-line;
}

h1 { @extend %huge; @extend %lubalin; color: $c-secondary;}
h2 { @extend %big; @extend %lubalin; }

strong, .bold, %bold {
  @extend %lubalin;
  font-size: 1.2em;
  display: block;
}

.stat {
  font-family: $helvetica-light;
  font-weight: $light;
  font-size:em(60px);
  text-transform: uppercase;
  display:inline-block;
  line-height:1;
  white-space:pre-line;
  p {font-size: em(14px);}
  strong {
    font-family: inherit;
    font-size: em(52px);
    letter-spacing: -16px;
    display: inline-block;
  }
}



small, .small { font-size: em(12px); }

.font-24 {font-size: 24px; position: relative;}
.font-40 {font-size: 40px; position: relative;}
.font-60 {font-size: 60px; position: relative;}
.font-heavy {font-family: $lubalin-heavy;}
