// blocks, maybe this gets moved into page-layout or something later

%invert {
  background: black;
  * { color: white; }
}

.fact-block {

  padding: 1em;
  border-radius: 30px;
  display: inline-block;
  text-align: center;

  &.dark {
    @extend %invert;
  }

  &.right {
    margin-left:60%;
  }

  .globe & {
    width: 30%;
    display: block;
    margin-top:1em;
    margin-bottom:1em;
  }




}
