// blocks, maybe this gets moved into page-layout or something later

.block, %block { display:block; }


.fact-block {
  padding: 1em;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  margin-top:1em;
  margin-bottom:1em;

  &.dark {
    @extend %invert;
  }

  &.light {
    background: #ccc;
  }

  &.right {
    margin-left:60%;
  }

  .globe & {
    width: 225px;
    display: block;
  }
}

// various gray blocks that have a variety of size
// for now, i'm sizing them 
// but i'm sure we can come up with a better system tomorrow.
// starting to think there is a better way to do this... 
.globe-comment {width: 225px;}

.new-computation-comment {width: 360px;}

.new-vision-comment  {
  display: block;
  width: 425px;
  margin: auto;
}

