// blocks, maybe this gets moved into page-layout or something later

%rel {position: relative;}
%abs {position: absolute;}
%inbl {display: inline-block;}

.block, %block { display:block; }


.fact-block {
  padding: 1em;
  border-radius: 30px;
  display: inline-block;
  text-align: center;
  margin-top:1em;
  margin-bottom:1em;

  &.dark {
    @extend %invert;
  }

  &.light {
    background: #ccc;
  }

  &.right {
    margin-left:60%;
  }

  .globe & {
    width: 225px;
    display: block;
  }
}

.new-computation-comment {width: 360px;}

.new-vision-comment  {
  display: block;
  width: 425px;
  margin: auto;
}

