.icon-down,
.icon-up {
	margin: auto;
	color: #fff;
	border-radius: 50%;
	z-index: z(base-10);
}
.icon-down {
  position: relative;
}
.icon-up {
	position: absolute;
  top: -25px;
	left: 0;
	right: 0;
}
