.icon-down,
.icon-up {
	background: #000;
	width: 50px;
	height: 50px;
	margin: auto;
	color: #fff;
	border-radius: 50%;
}

.icon-up {
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
}

.icon-up {
	position: absolute;
	top: -25px;
	left: 0;
	right: 0;
}