.globe,
.new-computation {
	height: 1100px;
}

.intro 			{height: 600px;}
.resources 		{height: 500px;}
.computation 	{height: 650px;}
.new-vision 	{height: 950px;}
.insight 			{height: 620px;}
.new-approach {height: 795px;}
.finale 			{height: 560px;}

