.path {
  position: absolute;
  margin: auto;
  // I've had to adjust this between computers
  // Not sure why...
  // this changes because of the IBM style sheet...
  // top: 760px;
  top: 590px;
  right: 0;
  left: 0;
  min-width: 1024px;
  height: 5030px;
  // this sets the scale of the line. 
  // increasing this slightly offsets the positioning
  // of everything else
  // with out it the shit is thick as hell
  z-index: z(base);
}