// Soem of the widths some a little snug
// That is because they used font sizes life 14px for the p tags



// First Section 
.sun {
	@include abs(20px 0 0 85px); 
	// for some reason the width is set to 0?
	width: 190px;
}

.timer {
	@include abs(95px 0 0 210px);
	&-svg {
		width: 270px;	
	}
}

.resources-copy {position: absolute;}

.globe-graphic {
	position: relative;
	display: block;
	width: 870px;
	margin: 3em auto 0;
}

.globe {
	.fact-block.right {
		@include abs(295px 0 0 0);

	}
	.fact-block.left {
		@include abs(465px 0 0 200px)
	}
}

.globe-desk {
	@include abs(0 0 50px 265px);
	&-svg {
		width: 255px;
	}
}
.globe-stat {
	@include abs(0 0 110px 0);
	width: 225px;
	@extend %abs-right;
}

.computation-left {
	@include abs(0 0 0 150px);
	width: 360px;
}

.computation-right {
	@include abs(215px 130px 0 0);
	width: 270px;
	@extend %abs-right;
}

.new-computation-vision {
	position: absolute;
}

.new-vision-comment {
	margin-top: 110px;
	margin-bottom: 80px;
}

.new-computation-illustration {
	position: relative;
	top: 175px;
	left: 50px;
	width: 440px;

	.connection 		{@include abs(0 0 0 210px);}
	.microchip 		{@include abs(130px 0 0 0);}
	.server 			{@include abs(180px 0 0 235px);}
}

.diagram-half {
	width: 400px;
	position: absolute;
	
	.left & {
		left: 0;
	}

	.right & {
		right: 0;
	}
}

.diagram-result {
	@include abs(0 50% 0 50%);
	margin-left: -5em;
}