// Soem of the widths some a little snug
// That is because they used font sizes life 14px for the p tags



// First Section 
.sun {
	@include abs(20px 0 0 85px); 
	// for some reason the width is set to 0?
	width: 190px;
}

.timer {
	@include abs(180px 0 0 210px);
	// z-index: z(base-5);
	&-svg {
		width: 270px;	
	}
}

.globe-graphic {
	position: relative;
	display: block;
	width: 870px;
	margin: 3em auto 0;
}

.globe {
	.fact-block.right {
		@include abs(295px 0 0 0);

	}
	.fact-block.left {
		@include abs(465px 0 0 200px)
	}
}

.globe-desk {
	@include abs(0 0 65px 270px);
	z-index: 5;
	&-svg {
		width: 255px;
	}
}
.globe-stat {
	@include abs(0 0 110px 0);
	width: 225px;
}

.computation-left {
	@include abs(0 0 0 110px);
	width: 360px;
}

.computation-right {
	@include abs(215px 130px 0 0);
	width: 270px;
}

.new-vision-comment {
	margin-top: 110px;
	margin-bottom: 80px;
}

.new-computation-illustration {
	@include pos(175px 0 0 40px);
	position: relative;
	width: 440px;

	.connection 		{@include abs(0 0 0 170px);}
	.microchip 		{@include abs(200px 0 0 0);}
	.server 			{@include abs(250px 0 0 235px);}
}

.diagram-half {
	width: 400px;
	position: absolute;
	.left & {
		left: 0;
	}

	.right & {
		right: 0;
	}

	h1 {
		text-align: center;
		position: absolute;
		right: 0;
		left: 0;
		bottom: 45px;
	}
}

.diagram-result {
	@include abs(50px 0px 0px 0px);
	margin: auto;
	width: 285px;
}

.circle-lg {width: 240px;}
.circle-md {width: 220px;}
.circle-sm {width: 205px;}


.monitor {
	z-index: z(base-5);

	.microchip {
		width: 125px;
	}
}