.resources {z-index: z(base-5);}
.resources-copy {
	top: 100px;
	max-width: 295px;
}


.dots {
  width: 850px;
  position: absolute;
  bottom: -265px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}