.section-grid {
	@include clear; // see mixins.scss
	margin: auto;
	text-align: center;
}
.col-3 {
	float: left;
  width: 33%;
  padding: 2em;
}

.icon-holder {
  @include circle(150px); // see mixins.scss
  background: #888;
  margin: 1em auto;
}


.section-grid.grid-lg {
	display: block;
	margin: auto;
	width: 850px;
}