.section-grid {
	@include clear; // see mixins.scss
	margin: auto;
	text-align: center;
	position: relative;
}
.col-3 {
	float: left;
  width: 33%;
  padding: 2em 1em;

  &-content {
    position: relative;
  }
}

.icon-holder {
  // @include circle(185px); // see mixins.scss
  margin: 1em auto;
}


.section-grid.grid-lg {
	display: block;
	margin: auto;
	width: 850px;
}

.section-grid-header {
  margin: auto;
  .new-vision &   {width: 560px;}
  .new-approach & {width: 330px;}
}
