// Gotta figure out the animation situation here. 
// Also - whats the fallback for IE?

.sharing-fixed {
	position: fixed;
	display: block;
	top: 50%;
	height: 50px;
	width: 50px;
	margin-top: -25px;
	background: #000;
	z-index: 10;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	text-align: center;

	&:hover > .share-icons {
		color: red;
		left: 60px;
	}
	.share-icons {
		@include vendor-prefix(transition, all 500ms ease);
		position: absolute;
		top: 8px;
		left: -200px;
		width: 120px;

		span {font-size: em(6px); text-transform: uppercase; color: #000;}
	}
	
	.fb_iframe_widget {
		top: -5px;
	}



}

.share-icons {
	li {
		position: relative;
		display: inline-block; 
		margin-right: 10px;
	}
	a {color: #000; font-size: em(26px);
		&:hover{text-decoration: none !important;}
	}
}

.share-trigger {
	position: relative;
	top: 2px;
	font-size: 1.5em;
	color: $white;
	line-height: 50px;
	text-align: center;
	z-index: z(base);
	&:hover {color: $white;}
}

.footer-social .share-icons li {margin-right: 0;}
.footer-social a {color: $white;}


#___plus_0 iframe,
#___plus_1 iframe,
.fb_iframe_widget iframe,
#twitter-widget-0.twitter-share-button,
#twitter-widget-1.twitter-share-button {

	@include vendor-prefix(transform-origin,top left);
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-ms-transform: scale(1.2);
	-o-transform: scale(1.2);
	transform: scale(1.2);
	
	-webkit-transform-origin: top left;
	-moz-transform-origin: top left;
	-ms-transform-origin: top left;
	transform-origin: top left;
	
}

#___plus_0,
#___plus_1,
.fb_iframe_widget {
	height: 0 !important;
	width: 0 !important;
}

ul#share {
	li {display: inline-block;}
}



// grouping social selectors and such
#twitter-widget-0.twitter-share-button,
#twitter-widget-1.twitter-share-button,
.fb_iframe_widget,
.fb_iframe_widget iframe,
#___plus_0 iframe,
#___plus_1 iframe  {
	position: absolute !important;
	width: 20px !important;
	height: 20px !important;
	border: none;
	text-decoration: none;
	visibility: visible;
	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=50);
	opacity: 0;
}


// social icons for footer
.footer-social {
		// facebook iframe
		.fb_iframe_widget iframe {
			@include vendor-prefix(transform-origin,top left);
			left: 0;
			bottom: 47px;
			width: 20px !important;
			height: 20px !important;
			border: none;
			
			// -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
			// filter: alpha(opacity=0);
			// opacity: 0;
			text-decoration: none;
			visibility: visible;

			-webkit-transform: scale(1.5);
			-moz-transform: scale(1.5);
			-ms-transform: scale(1.5);
			-o-transform: scale(1.5);
			transform: scale(1.5);
			
			-webkit-transform-origin: top left;
			-moz-transform-origin: top left;
			-ms-transform-origin: top left;
			transform-origin: top left;
		}
		// twitter iframe
		#twitter-widget-0.twitter-share-button,
		#twitter-widget-1.twitter-share-button {
			@include vendor-prefix(transform-origin,top left);
			-webkit-transform: scale(1.4);
			-moz-transform: scale(1.4);
			-ms-transform: scale(1.4);
			-o-transform: scale(1.4);
			transform: scale(1.4);
			
			-webkit-transform-origin: top left;
			-moz-transform-origin: top left;
			-ms-transform-origin: top left;
			transform-origin: top left;
			left: 0;
			bottom: 15px;
			width: 23px !important;
		}
		// googleplus iframe
		#___plus_0 iframe,
		#___plus_1 iframe {

			@include vendor-prefix(transform-origin,top left);
			top: -2px!important;
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			-o-transform: scale(1.2);
			transform: scale(1.2);
			
			-webkit-transform-origin: top left;
			-moz-transform-origin: top left;
			-ms-transform-origin: top left;
			transform-origin: top left;
		}
	}

.sharing-fixed {
	
	.fb_iframe_widget iframe {
		left: -12px;
		bottom: 8px;
		border: none;
		text-decoration: none;
		visibility: visible;
	}
	// twitter iframe
	#twitter-widget-0.twitter-share-button,
	#twitter-widget-1.twitter-share-button {
		left: 0;
		bottom: 15px;
		width: 23px !important;
	}
	// googleplus iframe
	#___plus_0 iframe,
	#___plus_1 iframe {
		top: 4px !important;
	}
}