// Gotta figure out the animation situation here. 
// Also - whats the fallback for IE?

.sharing-fixed {
	position: fixed;
	display: block;
	top: 200px;
	height: 50px;
	width: 50px;
	background: #000;
	z-index: 10;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	text-align: center;

	&:hover > .share-icons {
		color: red;
		left: 60px;
	}
	.share-icons {
		@include vendor-prefix(transition, all 500ms ease);
		position: absolute;
		top: 8px;
		left: -200px;
		width: 120px;

		span {font-size: em(6px); text-transform: uppercase; color: #000;}
	}

}

.share-icons {
	li {display: inline-block; margin-right: 10px;}
	a {color: #000; font-size: em(26px);
		&:hover{text-decoration: none;}
	}
}

.share-trigger {
	position: relative;
	top: 2px;
	font-size: 1.5em;
	color: $white;
	line-height: 50px;
	text-align: center;
	&:hover {color: $white;}
}